.root {
  position: relative;
  left: -20px;
}

.input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 15px;
  padding-left: 50px;
  border-radius: 10px;
  width: 300px;
  font-size: 18px;

  &:hover {
    background: rgba(216, 196, 15, 0.2);
  }
}

.icon {
  position: absolute;
  opacity: 0.4;
  width: 18px;
  height: 18px;
  left: 12px;
  top: 15px;
}

.closeIcon {
  width: 18px;
  height: 18px;
  opacity: 0.3;
  position: absolute;
  top: 15px;
  right: 15px;

  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}
